---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/AC04efbe0936700c21314bcd29d23d65d8/Messages.json
    body:
      encoding: US-ASCII
      string: Body=hi&To=11111&From=14805682488
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUMwNGVmYmUwOTM2NzAwYzIxMzE0YmNkMjlkMjNkNjVkODpkOTU2MjFiNTNjNGRiMTg2ODU1NzUxYmIyZDlkZTQxNA==
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - application/json
      Twilio-Request-Duration:
      - '0.085'
      Twilio-Request-Id:
      - RQe1085c5c660149cf918445fb741bde9b
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"code": 21211, "message": "The ''To'' number 11111 is not a valid
        phone number.", "more_info": "https://www.twilio.com/docs/errors/21211", "status":
        400}'
  recorded_at: Mon, 26 Sep 2016 22:00:41 GMT
recorded_with: VCR 3.0.3
