<h1>Your Contacts</h1>

<% if current_user %>
<% current_user.contacts.each do |contact| %>
  <%= link_to contact.name, contact_path(contact)%> | <%= contact.phone %>
  <br>
<% end %>

<%= link_to 'Add Contact', new_contact_path %><br>
<%= link_to 'Send to multiple people', new_message_path %>

<% else %>
<h5>You are not signed in; please sign in to view contacts!</h5>

<% end %>
<hr>
<h5>Cool Text also allows you to get the news or an astronomy picture of the day by texting our number 480-568-2488!</h5>
<h6>To get today's headlines, text 'news' to our number</h6>
<h6>To get the picture of the day, text 'space' to our number</h6>
